/ObjetosNegocio/dist/
/ObjetosNegocio/build/
/RepositorioJPA/nbproject/private/
/RepositorioJPA/build/
/FachadaPersistencia/nbproject/private/
/FactoryFachadaPersistencia/nbproject/private/
/PersistenciaFachada/nbproject/private/
/PersistenciaFachadaFactoria/nbproject/private/