/ObjetosNegocio/dist/
/ObjetosNegocio/build/
/RepositorioJPA/nbproject/private/
/RepositorioJPA/build/
/FachadaPersistencia/nbproject/private/
/FactoryFachadaPersistencia/nbproject/private/
/PersistenciaFachada/nbproject/private/
/PersistenciaFachadaFactoria/nbproject/private/
/Avance_3/target/
/Avance_3_WebApp/nbproject/private/
/PersistenciaFachada/build/
/RepositorioJPA/dist/
/PersistenciaFachada/dist/
/PersistenciaFachadaFactoria/build/
/Avance_3_WebApp/dist/
/Avance_3_WebApp/build/
/PersistenciaFachadaFactoria/dist/
/WebApp_Final/nbproject/private/
